body {
    margin: 0;
}

h1{
    margin-left: 45px;
    margin-top: 22;
}

p1 {
    margin-left: 43px;
    margin-top: 181;
}

p2 {
    margin-left: 43px;
    margin-top: 181;
}

p3 {
    margin-left: 43px;
    margin-top: 181;
}

